# Auto detect text files and perform LF normalization
* text=auto

# Gradle wrapper
gradlew text eol=lf
gradlew.bat text eol=crlf
gradle/wrapper/gradle-wrapper.properties text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf

# Config
*.properties text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.json text eol=lf

# Scripts
*.sh text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Java source
*.java text eol=lf

# Resources
*.lang text eol=lf
*.mcfunction text eol=lf